﻿@model VidlyNew.Models.Movie
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<iu>
    <li>Genre : @Model.Genre.Name </li>
    <li>Added Date : @Model.DateAdded.ToLongDateString()</il>
    <li>Number in Stock : @Model.NumberInStock</il>


</iu>




