﻿@model VidlyNew.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ui>
    <li>
      Membertype: @Model.MembershipType.Name
    </li>
    @if (@Model.BirthDate.HasValue) { <li>BirthDate: @Model.BirthDate.Value.ToShortDateString()</li> }
 




</ui>



