﻿@model IEnumerable<VidlyNew.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@if (!Model.Any())
{

    <p>N o t t h i n g s</p>
}
else
{
    <p>
        @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
    </p>
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    Customerx
                </th>
                <th> MemberShip Type</th>
                <th>Discount Rate</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {

                <tr>
                    <td>@customer.Id</td>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@customer.MembershipType.DiscountRate %</td>

                    <td>
             
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>

                </tr>
            }

        </tbody>
    </table>


    
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").DataTable();
            $("#customers").on("click", ".js - delete", function () {
                var button = $(this);
                if (confirm(" r u sure to del this Item")) {
                    $.ajax({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("Success");
                            //button.parent("tr").remove();
                        }
                    });

                }
            });


        });

    </script>
    }
